@import "src/mixin";

.exercise-categories-list-display {
  padding: 0 0 10px 0;
}

.exercise-category-display-wrapper {
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: space-between;
}

.exercise-category-display-name {
  cursor: pointer;
}

.exercise-category-display-menu {
  cursor: pointer;
}

.add-category-button {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  padding-top: 10px;
  margin-top: 50px;
  .MuiButtonBase-root {
    width: 95%;
  }
}
