@import "src/mixin";

.exercise-categories-list-display {
  padding: 0 0 10px 0;
}

.exercise-category-display-wrapper {
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: space-between;
}

.exercise-category-display-name {
  cursor: pointer;
}

.exercise-category-display-menu {
  cursor: pointer;
}

.add-category-button {
  @include add-button;
}
