.inputs-first-row {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 10px;
    margin-bottom: 50px;
}

.workout-name-input {
    width: 97%;
    .MuiTextField-root {
        width: 100%;
        height: 30px;
    }
}

.workout-weight-input {
    width: 97%;
    .MuiTextField-root {
        width: 100%;
        height: 30px;
    }
}
