.inputs-first-row {
    ::ng-deep {
        .MuiFormControl-root {
            width: 100%;
            height: 30px;
        }
    }
    padding: 15px;
}

:host {
    ::ng-deep {
        .MuiFormControl-root {
            width: 100%;
            height: 30px;
        }
    }
}