/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div {
  .MuiInputLabel-root {
    font-size: 14px;
  }
  .MuiInputBase-root {
    font-size: 14px;
  }
}

.workout-details-display {
  width: 350px;
  padding: 0 5px;
  margin: 0 auto;
}

.dialog-workout-header {
  padding: 0 5px 0 5px;
  margin: 0 auto;
}

.dialog-workout-header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 15px 0;
}

.dialog-workout-info {
  display: inline-flex;
  text-align: right;
  justify-content: right;
  margin-left: 2px;
}

.dialog-workout-back-action {
  text-align: left;
}

.inputs-first-row {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 68px;
  padding-right: 10px;
}

.workout-name-input {
  padding-right: 5px;

  .MuiTextField-root {
    width: 100%;
  }
}

.workout-time-pickers {
  display: flex;
  padding-right: 7px;
  margin-bottom: 15px;
}

.workout-picker {
  .MuiTextField-root {
    width: 100%;
  }
}

.padding-for-picker {
  padding-right: 5px;
}

.furthest-padding {
  padding-right: 3.2px;
}

.workout-notes {
  .MuiTextField-root {
    width: 100%;
  }

  padding-right: 10px;
  margin-bottom: 25px;
}

.exercise {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.exercise-title {
  padding: 8px 0 0 20px;
  font-size: 18px;
  font-weight: 501;
}

.exercise-note {
  padding: 8px 0 15px 20px;
  word-break: break-all;
}

.sets {
  display: grid;
  grid-template-columns: 5% 20% 20% 45% 5%;
  height: 56px;
  grid-gap: 2px;
  margin-bottom: 10px;

  .MuiInputLabel-root {
    font-size: 14px;
  }
}

.set-number {
  border: 1px black solid;
  border-radius: 30px;
  font-size: 12px;
  height: 18px;
  text-align: center;
  margin-top: 20px;
  margin-right: 5px;
}

.set-menu-icon {
  padding-top: 7px;
}

.actions {
  display: grid;
  padding: 0 7px 0 0;
  grid-template-columns: 70% 10% 10% 10%;
}

.action-add-set {
  padding: 7px 0 0 20px;
}

.add-exercise-action {
  text-align: center;
  padding: 30px 0 30px 0
}

.date {
  width: 200px;
}

.menu-button {
  padding-top: 8px;
  cursor: pointer;
}

.exercise-menu-options {
  padding: 10px 3px 5px 0;
  cursor: pointer;
}

.workout-header-menu {
  padding: 7px 0 0 0;
  cursor: pointer;
}

.exercise-add-wrapper {
  max-width: 415px;
}
.exercise-add-header3,
.exercise-add-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 15px;
  max-width: 380px;
  width: 100%;
}

.exercise-add-header3 {
  justify-content: unset;
}

.exercise-back-and-title3,
.exercise-back-and-title {
  display: flex;
  width: 145px;
  svg {
    cursor: pointer;
  }
}

.exercise-back-and-title3 {
  width: 380px;
}

.exercise-search-and-add {
  display: flex;
  justify-content: space-between;
  width: 70px;
  svg {
    cursor: pointer;
  }
}

.body-part {
  padding: 10px 0 9px 19px;
  cursor: pointer;
  font-family: Roboto;
}

.exercise-select-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 9px 20px;
  max-width: 370px;
  div {
    cursor: pointer;
  }
}

.edit-exercise-note-dialog-title {
  padding-bottom: 15px;
}

.edit-exercise-note-wrapper {
  padding: 20px;
}

.edit-exercise-note-input {
  padding-bottom: 15px;
}
