@import "src/mixin";

.exercise-edit-list-header {
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.exercise-edit-list-column1 {
  display: flex;
}

.exercise-edit-list-column1-field1 {
  cursor: pointer;
}

.exercise-edit-list-column1-field2 {
  padding: 0 0 0 10px;
}

.exercise-edit-list-column2 {
  cursor: pointer;
}

.exercise-edit-list-wrapper {
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: space-between;
}

.exercise-edit-list-display-title {
  cursor: pointer;
  width: 100%;
}

.exercise-edit-list-display-title1 {
  cursor: pointer;
}

.add-exercise-button {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  padding-top: 10px;
  background: white;
  .MuiButtonBase-root {
    width: 95%;
  }
}

.exercise-list-wrapper {
  padding-top: 40px;
}
