.workout-list-header {
  width: 100%;
  display: flex;
  font-family: Roboto;
  background-color: #a1b19f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.workout-list-header-wrapper {
  padding: 5px 5px 5px 20px;
  display: flex;
}

.workout-list-header-menu {
  padding-right: 10px;
  cursor: pointer;
}

.workout-list-header-month {
  padding-top: 11px;
}
