.statistics-header {
  width: 100%;
  display: flex;
  font-family: Roboto;
  background-color: #a1b19f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.statistics-header-wrapper {
  padding: 5px 5px 5px 20px;
  display: flex;
}

.statistics-header-menu {
  padding-right: 10px;
  cursor: pointer;
}

.statistics-header-title {
  padding-top: 11px;
}

.statistics-display {
  padding-top: 5px;
  font-family: Roboto, serif;
}

.statistics-display-values {
  cursor: pointer;
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  justify-content: space-between;
  padding: 8px 22px;
}

.statistics-display-values-value {
  padding-right: 7px;
}

.statistics-display-category {
  padding-bottom: 70px;
}

.statistics-display-values-title {
  font-size: 16px;
  font-weight: 400;
}

.statistics-display-title {
  padding: 22px 0 5px 22px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
