.statistics-header {
  width: 100%;
  display: flex;
  font-family: Roboto;
  background-color: #a1b19f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.statistics-header-wrapper {
  padding: 5px 5px 5px 20px;
  display: flex;
}

.statistics-header-menu {
  padding-right: 10px;
  cursor: pointer;
}

.statistics-header-title {
  padding-top: 11px;
}

.statistics-display {
  padding-top: 25px;
  font-family: Roboto;
}

.statistics-display-values {
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
}

.statistics-display-category {
  padding-bottom: 70px;
}
