.workout-list-header {
  width: 100%;
  display: flex;
}

.workout-list-header-wrapper {
  padding: 5px;
  display: flex;
}

.workout-list-header-menu {
  padding-right: 10px;
  cursor: pointer;
}

.workout-list-wrapper {
  a {
    text-decoration: none;
    color: black;
  }
}

.workout-list-header-month {

}

.application-wrapper {
  width: 350px;
  padding: 0 5px;
  margin: 0 auto;
  text-align: center;
}

.workout-item {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: center;
  margin: 10px;
}

.workout-item-column1 {

}

.workout-item-column2 {
  background-color: gray;
  display: grid;
  grid-template-columns: 80% 20%;
  font-size: 12px;
  text-align: left;
  padding: 5px;
  position: relative;
}

.workout-duration {
  height: 15px;
  position: absolute;
  right: 10px;
  bottom: 9px;
  width: 48px;
}

.workout-title {
  font-weight: 500;
}

.workout-details-display {
}
