.workout-list-wrapper {
  width: 100%;
  max-width: 300px;
  padding: 0 1em;
  margin: 0 auto;
}

.workout-item {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: center;
  margin: 10px;
}

.workout-item-column1 {

}

.workout-item-column2 {
  background-color: gray;
}

.dialog-workout-header {
  width: 100%;
  max-width: 400px;
  padding: 0 5px 0 5px;
  margin: 0 auto;
}

.dialog-workout-header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 15px;
}

.dialog-workout-info {
  display: inline-flex;
  text-align: right;
  justify-content: right;
  padding-right: 10px;
}

.dialog-workout-back-action {
  text-align: left;
}

.workout-details-display {
}
